/* 
    Created on : 26-feb-2014, 14:33:49
    Author     : Michel Koks <michel@nt2lab.nl>
*/
section {
    display: flex;
    flex-wrap: wrap;
}

.month {
    width: 30%;
    margin: 1%;
    background-color: lightblue;
}

.weekrows {
    width: 100%;
}

.weekrow {
    flex: 1;
}

.weekrows, .weekrow {
    display: flex;
}

.weeknumber {
    width: 6%;
    margin: 1%;
    background-color: brown;
    padding: 0.2em;
    text-align: right;
    height: 2em;
}

.day, .night {
    width: 12%;
    margin: 1%;
    padding: 0.2em 1em;
    text-align: right;
    height: 2em;
}

.day {
    background-color: blue;
}

.night {
    background-color: grey;
}