<section data-ng-controller="CalenderCtrl">
    <h1>{{thisYear}}</h1>
    <div class="month" data-ng-repeat="monthnumber in [1,2,3,4,5,6,7,8,9,10,11,12]">
        <h1>{{month[monthnumber - 1]}}</h1>
        {{total[monthnumber]}}
        <div data-ng-repeat="weekRow in days[monthnumber].week">
            <div class="weekrows" data-ng-repeat="(weeknumber, dayObjects) in weekRow">
                <div class="weeknumber">{{weeknumber}}</div>
                <div data-ng-repeat="dayObject in dayObjects" class="weekrow">
                    <span data-ng-show="dayObject.show" class="day">{{dayObject.day}}</span>
                    <span data-ng-hide="dayObject.show" class="night">{{dayObject.day}}</span>
                </div>
            </div>
        </div>
    </div>
</section>