<div role="main">
    <section data-ng-controller="CalenderCtrl">
        <h1><a href="#!/agenda/calender/{{lastYear}}">&lt;&lt;&lt;</a>{{thisYear}}<a href="#!/agenda/calender/{{nextYear}}">&gt;&gt;&gt;</a></h1>
        <div class="year">
            <div class="month" data-ng-repeat="monthnumber in [0,1,2,3,4,5,6,7,8,9,10,11]">
                <h1>{{month[monthnumber]}}</h1>
                <div data-ng-repeat="emptyRow in result[monthnumber]">
                    <div class="weekrows">
                        <div class="weekrow" data-ng-repeat="weekday in weekdays">
                            <span data-ng-if="weekday === ''"></span>
                            <span data-ng-if="weekday !== ''" class="dayName" >{{weekday}}</span>
                        </div>
                    </div>
                    <div class="weekrows" data-ng-repeat="weekRow in emptyRow">
                        <div class="weekrow" data-ng-repeat="(key, dayObject) in weekRow">
                            <a href="#!/agenda/week/{{dayObject.week}}" data-ng-if="key === 0" class="weeknumber">{{dayObject.week < 10 ? 'w0' + dayObject.week : 'w' + dayObject.week}}</a>
                            <a href="#!/agenda/date/{{dayObject.showDate}}" data-ng-if="dayObject.show" class="day">{{dayObject.day < 10 ? '0' + dayObject.day : dayObject.day}}</a>
                            <span data-ng-if="!dayObject.show && key !== 0" class="night">{{dayObject.day}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>